<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="Thumbnailer" value="C:\bin\javathumbnailer\thumbnailer.bat" />
    <add key="ConnectionString" value="Server=127.0.0.1;User Id=postgres;Password=admin;Database=kawaldesa;" />
    <add key="ContentRoot" value="D:\Work\kawal-desa\Content" />
    <add key="DumperAddress" value="tcp://127.0.0.1:5507" />
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
