<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center error-box">
                <h1> Error 401 </h1>
                <h2 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i> Access Denied</strong></h2>
            </div>
        </div>
    </div>
</section>