<!-- #HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo" style="font-size:22px; margin-top:10px; margin-left:33px;">KAWAL DESA</span>
        <!-- END LOGO PLACEHOLDER -->
    </div>
    <div id="ribbon" style="background-color: transparent;">
        <span style="text-transform: uppercase; font-size: 1.2em; margin-left: 0.5em;">
        </span>
    </div>

    <!-- #TOGGLE LAYOUT BUTTONS -->
    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->
        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        @*<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li class="">
                <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                    <img src="Dashboard_files/sunny.png" alt="John Doe" class="online">
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#ajax/profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0)" class="padding-10 padding-top-5 padding-bottom-5" ng-click="loginCtrl.logout()" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                    </li>
                </ul>
            </li>
        </ul>*@

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right" ng-controller="LoginCtrl as loginCtrl">
            <span> <a href="javascript:void(0)" title="Sign Out" data-action="userLogout" ng-click="loginCtrl.logout()" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->
        <!-- search mobile button (this is hidden till mobile view port) -->
        <!--
        <div id="search-mobile" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>
        -->
        <!-- end search mobile button -->
        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end fullscreen button -->

    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->
<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->
        <ul>
            <li>
                <a ui-sref="dashboard.region">
                    <i class="fa fa-lg fa-fw fa-globe"></i>
                    <span class="menu-item">Region</span>
                </a>
            </li>
            <li ng-show="principal.isInRole('admin')">
                <a ui-sref="dashboard.transaction">
                    <i class="fa fa-lg fa-fw fa-money"></i>
                    <span class="menu-item">Transaction</span>
                </a>
            </li>
            <li ng-show="principal.isInRole('admin')">
                <a ui-sref="dashboard.user">
                    <i class="fa fa-lg fa-fw fa-user"></i>
                    <span class="menu-item">User</span>
                </a>
            </li>
        </ul>
    </nav>

</aside>
<!-- END NAVIGATION -->
<!-- #MAIN PANEL -->
<div id="main" role="main">
    <!-- END RIBBON -->
    <!-- #MAIN CONTENT -->
    <div ui-view style="opacity: 1;" id="content">
    </div>
    <!-- END #MAIN CONTENT -->
</div>
<!-- END #MAIN PANEL -->
<!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
        Note: These tiles are completely responsive, you can add as many as you like -->
<div id="shortcut">
    <ul>
        <li>
            <a href="#ajax/inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
        </li>
        <li>
            <a href="#ajax/calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
        </li>
        <li>
            <a href="#ajax/gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
        </li>
        <li>
            <a href="#ajax/invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
        </li>
        <li>
            <a href="#ajax/gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
        </li>
        <li>
            <a href="#ajax/profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
        </li>
    </ul>
</div>
<div id="MsgBoxBack" class="divMessageBox animated fadeIn fast" style="display: none;">
    <div id="Msg1" class="MessageBoxContainer animated fadeIn fast">
        <div class="MessageBoxMiddle">
            <span class="MsgTitle">
                <i class="fa fa-sign-out txt-color-orangeDark"></i> Logout <span class="txt-color-orangeDark">
                    <strong>
                        john.doe
                    </strong>
                </span> ?
            </span><p class="pText">You can improve your security further after logging out by closing this opened browser</p><div class="MessageBoxButtonSection"><button class="btn btn-default btn-sm botTempo" id="bot1-Msg1"> No</button><button class="btn btn-default btn-sm botTempo" id="bot2-Msg1"> Yes</button></div>
        </div>
    </div>
</div>
  