<section id="widget-grid" data-extend-template="/partials/table/Table">
    <header role="heading" data-block="form-header">
        <h2>Transaction form</h2>
    </header>

    <form class="smart-form" method="POST" novalidate="novalidate" ng-submit="CRUDCtrl.save()" data-block="form-content">
        <fieldset>
            <section>
                <label class="input" ng-class="{'state-error': formMessage.errors.Date}">
                    <i class="icon-append fa fa-calendar"></i>
                    <input type="text" datepicker-popup="dd MMMM yyyy" is-open="CRUDCtrl.openExamDatePicker"
                           ng-model="model.Date" max-date="CRUDCtrl.maxDate" ng-click="CRUDCtrl.open($event)" placeholder="Date" />
                </label>
                <div class="note note-error" ng-show="formMessage.errors.Date">
                    <p ng-repeat="message in formMessage.errors.Date">{{message}}</p>
                </div>
            </section>
            <section>
                <label class="input" ng-class="{'state-error': formMessage.errors.Proof}">
                    <i class="icon-append fa fa-file"></i>
                    <input type="text" name="Proof" placeholder="Proof" ng-model="model.Proof.Name" />
                </label>
                <div class="note note-error" ng-show="formMessage.errors.Proof">
                    <p ng-repeat="message in formMessage.errors.Proof">{{message}}</p>
                </div>
            </section>
            <section>
                <label class="input" ng-class="{'state-error': formMessage.errors.SourceID}">
                    <i class="icon-append fa fa-globe"></i>
                    <input type="text" ng-model="model.Source" placeholder="Select Source Region"
                           typeahead="region as region.Name for region in CRUDCtrl.getRegion($viewValue)"
                           typeahead-loading="loadingLocations" class="form-control">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                </label>
                <div class="note note-error" ng-show="formMessage.errors.SourceID">
                    <p ng-repeat="message in formMessage.errors.SourceID">{{message}}</p>
                </div>
            </section>
            <section>
                <label class="input" ng-class="{'state-error': formMessage.errors.DestinationID}">
                    <i class="icon-append fa fa-globe"></i>
                    <input type="text" ng-model="model.Destination" placeholder="Select Destination Region"
                           typeahead="region as region.Name for region in CRUDCtrl.getRegion($viewValue)"
                           typeahead-loading="loadingLocations2" class="form-control">
                    <i ng-show="loadingLocations2" class="glyphicon glyphicon-refresh"></i>
                </label>
                <div class="note note-error" ng-show="formMessage.errors.DestinationID">
                    <p ng-repeat="message in formMessage.errors.DestinationID">{{message}}</p>
                </div>
            </section>
            <section>
                <label class="input" ng-class="{'state-error': formMessage.errors.Amount}">
                    <i class="icon-append fa fa-money"></i>
                    <input type="text" name="Amount" placeholder="Amount" ng-model="model.Amount" />
                </label>
                <div class="note note-error" ng-show="formMessage.errors.Amount">
                    <p ng-repeat="message in formMessage.errors.Amount">{{message}}</p>
                </div>
            </section>
            @*<section>
                    <label class="select" ng-class="{'state-error': formMessage.errors.ClinicID}">
                        <select ng-model="model.ClinicID">
                            <option value="" style="display:none;">Select Medical</option>
                            <option ng-repeat="clinic in CRUDCtrl.clinics" value="{{clinic.ID}}">{{clinic.Name}}</option>
                        </select>
                        <i></i>
                    </label>
                    <div class="note note-error" ng-show="formMessage.errors.ClinicID">
                        <p ng-repeat="message in formMessage.errors.ClinicID">{{message}}</p>
                    </div>
                </section>*@
        </fieldset>
        <footer>
            <button type="button" class="btn btn-primary" ng-click="CRUDCtrl.toggleForm()">Cancel</button>
            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </footer>
    </form>

    <div class="alert" ng-show="formMessage" ng-class="{'alert-success': formMessage.type === 'success', 'alert-danger': formMessage.type === 'error'}" data-block="form-alert">
        <p>{{formMessage.message}}</p>
    </div>

    <header role="heading" data-block="header">
        <div class="widget-toolbar">
            <i>Showing {{entities.length}} Transaction</i>
        </div>
    </header>

    <div class="table-responsive" data-block="table">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Proof Name</th>
                    <th>Source Region</th>
                    <th>Destination Region</th>
                    <th>Amount</th>
                    <th ng-show="indexCtrl.principal.isInAnyRole(['admin'])">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="entity in entities | itemsPerPage: entitiesPerPage" total-items="totalEntities" data-block="table-data">
                    <td>{{entity.ID}}</td>
                    <td>{{entity.Date | date:'dd MMMM yyyy'}}</td>
                    <td>{{entity.Proof.Name}}</td>
                    <td>{{entity.Source.Name}}</td>
                    <td>{{entity.Destination.Name}}</td>
                    <td>{{entity.Amount}}</td>
                    @*<td>
                            <img ng-cloak ng-if="entity.BlobID" ng-src="\api\LombokUpload\GetPicture\{{entity.BlobID}}" width="93" height="104" />
                            <img ng-cloak ng-if="!entity.BlobID" ng-src="\Content\blank.png" width="93" height="104" />
                        </td>*@
                    <td ng-show="indexCtrl.principal.isInAnyRole(['admin'])">
                        <button type="button" class="btn btn-primary" ng-click="CRUDCtrl.edit(entity)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</section>

