<section id="widget-grid" data-extend-template="/partials/table/Table">
    <header role="heading" data-block="form-header">
        <h2>Region form</h2>
    </header>

    <form class="smart-form" method="POST" novalidate="novalidate" ng-submit="CRUDCtrl.save()" data-block="form-content">
        <fieldset>
            <section>
                <label class="input" ng-class="{'state-error': formMessage.errors.Name}">
                    <i class="icon-append fa fa-globe"></i>
                    <input type="text" name="name" placeholder="Region Name" ng-model="model.Name" />
                </label>
                <div class="note note-error" ng-show="formMessage.errors.Name">
                    <p ng-repeat="message in formMessage.errors.Name">{{message}}</p>
                </div>
            </section>
            <section>
                <label class="select" ng-class="{'state-error': formMessage.errors.Name}">
                    <select ng-model="model.Type">
                        <option value="" style="display:none;">Select Type</option>
                        <option ng-repeat="regionType in CRUDCtrl.regionTypeName | orderBy: 'value'" value="{{regionType.Value}}">{{regionType.Text}}</option>
                    </select>
                    <i></i>
                </label>
                <div class="note note-error" ng-show="formMessage.errors.regionID">
                    <p ng-repeat="message in formMessage.errors.Name">{{message}}</p>
                </div>
            </section>
            <section>
                <label class="input" ng-class="{'state-error': formMessage.errors.Name}">
                    @*<select ng-model="model.ParentID">
                        <option value="" style="display:none;">Select Parent Region</option>
                        <option ng-repeat="region in CRUDCtrl.regions" value="{{region.ID}}">{{region.Name| orderBy: Name}}</option>
                    </select>
                    <i></i>*@
                    <i class="icon-append fa fa-globe"></i>
                    <input type="text" ng-model="model.Parent" placeholder="Select Parent Region"
                           typeahead="region as region.Name for region in CRUDCtrl.getRegion($viewValue)"
                           typeahead-loading="loadingLocations" class="form-control">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                </label>
                <div class="note note-error" ng-show="formMessage.errors.regionID">
                    <p ng-repeat="message in formMessage.errors.Name">{{message}}</p>
                </div>
            </section>
        </fieldset>
        <footer>
            <button type="button" class="btn btn-primary" ng-click="CRUDCtrl.toggleForm()">Cancel</button>
            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </footer>
    </form>

    <div class="alert" ng-show="formMessage" ng-class="{'alert-success': formMessage.type === 'success', 'alert-danger': formMessage.type === 'error'}" data-block="form-alert">
        <p>{{formMessage.message}}</p>
    </div>

    <header role="heading" data-block="header">
        <div class="widget-toolbar">
            <i>Showing {{entities.length}} Regions</i>
        </div>
    </header>

    <div class="table-responsive" data-block="table">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Parent Region</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="entity in entities | itemsPerPage: CRUDCtrl.entitiesPerPage" total-items="totalEntities" data-block="table-data">
                    <td>{{entity.ID}}</td>
                    <td>{{entity.Name}}</td>
                    <td>{{entity.Type}}</td>
                    <td>{{entity.Parent.Name}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="CRUDCtrl.edit(entity)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

