<section id="widget-grid" data-extend-template="/partials/table/Table">
    <header role="heading" data-block="form-header">
        <h2>User form</h2>
    </header>

    <form class="smart-form" method="POST" novalidate="novalidate" ng-submit="CRUDCtrl.save()" data-block="form-content">
        <fieldset>
            <section>
                <label class="input" ng-class="{'state-error': formMessage.errors.UserName}">
                    <i class="icon-append fa fa-user"></i>
                    <input type="text" name="name" placeholder="User Name" ng-model="model.UserName" />
                </label>
                <div class="note note-error" ng-show="formMessage.errors.UserName">
                    <p ng-repeat="message in formMessage.errors.UserName">{{message}}</p>
                </div>
            </section>
            <section>
                <label class="input" ng-class="{'state-error': formMessage.errors.Password}">
                    <i class="icon-append fa fa-building"></i>
                    <input type="text" name="registrationID" placeholder="Password" ng-model="model.Password" />
                </label>
                <div class="note note-error" ng-show="formMessage.errors.Password">
                    <p ng-repeat="message in formMessage.errors.Password">{{message}}</p>
                </div>
            </section>
            <section>
                <label class="input" ng-class="{'state-error': formMessage.errors.ConfirmPassword}">
                    <i class="icon-append fa fa-building"></i>
                    <input type="text" name="registrationID" placeholder="Confirm Password" ng-model="model.ConfirmPassword" />
                </label>
                <div class="note note-error" ng-show="formMessage.errors.ConfirmPassword">
                    <p ng-repeat="message in formMessage.errors.ConfirmPassword">{{message}}</p>
                </div>
            </section>
            <section>
                <label class="select" ng-class="{'state-error': formMessage.errors.ClinicID}">
                    <select ng-model="model.ClinicID">
                        <option value="" style="display:none;">Select Clinic</option>
                        <option ng-repeat="clinic in CRUDCtrl.clinics" value="{{clinic.ID}}">{{clinic.Name}}</option>
                    </select>
                    <i></i>
                </label>
                <div class="note note-error" ng-show="formMessage.errors.ClinicID">
                    <p ng-repeat="message in formMessage.errors.ClinicID">{{message}}</p>
                </div>
            </section>
            <section>
                <label class="multiple" ng-class="{'state-error': formMessage.errors.Roles}" >
                    <select multiple ng-model="model.Roles" style="width:300px;">
                        <option ng-repeat="role in CRUDCtrl.roleNames" value="{{role}}" ng-attr-selected="model.Roles.indexOf(role) > -1">{{role}}</option>
                    </select>
                </label>
                <div class="note note-error" ng-show="formMessage.errors.Roles">
                    <p ng-repeat="message in formMessage.errors.Roles">{{message}}</p>
                </div>
            </section>            
        </fieldset>
        <footer>
            <p>{{model}}</p>
            <button type="button" class="btn btn-primary" ng-click="CRUDCtrl.toggleForm(false)">Cancel</button>
            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </footer>
    </form>

    <div class="alert" ng-show="formMessage" ng-class="{'alert-success': formMessage.type === 'success', 'alert-danger': formMessage.type === 'error'}" data-block="form-alert">
        <p>{{formMessage.message}}</p>
    </div>

    <header role="heading" data-block="header">
        <div class="widget-toolbar">
            <i>Showing {{entities.length}} Users</i>
        </div>
    </header>

    <div class="table-responsive" data-block="table">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User Name</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="entity in entities | itemsPerPage: entitiesPerPage" total-items="totalEntities" data-block="table-data">
                    <td>{{entity.Id}}</td>
                    <td>{{entity.UserName}}</td>
                    <td>
                        <span ng-repeat="role in entity.Roles">[{{role}}] </span>
                    </td>
                    <td class="col-md-3">
                        <form class="form-inline">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" ng-click="CRUDCtrl.edit(entity)">Edit</button>
                            </div>
                            <div class="form-group">
                                <a href="/api/User/GetSecretKey?id={{entity.Id}}" class="btn btn-success" target="_blank">Download Key</a>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</section>

