<div ng-controller="NationalRegionController as ctrl">
    <div ng-controller="transactionController">
        <select ng-model="search" ng-options="region.name for region in regions">
            <option value="">-- pilih region --</option>
        </select>
        <br />
        <br />
        ke
        <table>
            <tr>
                <td><b>Nama Kabupaten</</b></td>
                <td><b>Jumlah uang</b></td>
            </tr>
            <tr ng-repeat="transaction in transactions | filter: {id_source:search.id}">
                <td>
                    <a ng-href="ProfilRegion.html?ID={{transaction.id_destination}}">{{ctrl.searchRegion(transaction.id_destination)}}</a>
                </td>
                <td>{{transaction.price}}</td>
            </tr>
        </table>
        <br />
        dari
        <table>
            <tr>
                <td><b>Nama Kabupaten</</b></td>
                <td><b>Jumlah uang</b></td>
            </tr>
            <tr ng-repeat="transaction in transactions | filter: {id_destination:search.id}">
                <td><a href="ProfilRegion.html?ID={{transaction.id_source}}">{{ctrl.searchRegion(transaction.id_source)}}</a></td>
                <td>{{transaction.price}}</td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    function NationalRegionController($scope) {
        $scope.regions = [
            { id: 1, id_parent: 0, name: "Jakarta" },
            { id: 2, id_parent: 0, name: "Jawa Barat" },
            { id: 3, id_parent: 0, name: "Jawa Timur" },
            { id: 4, id_parent: 0, name: "Banten" },
            { id: 5, id_parent: 1, name: "Jakarta Barat" },
            { id: 6, id_parent: 1, name: "Jakarta Utara" },
            { id: 7, id_parent: 3, name: "Tuban" },
            { id: 8, id_parent: 2, name: "Tasikmalaya" },
            { id: 9, id_parent: 2, name: "Garut" }
        ];

        this.searchRegion = function (id) {
            return $scope.regions[id - 1].name;
        }
    }

    function transactionController($scope) {
        $scope.transactions = [
            { id: 1, id_source: 1, id_destination: 5, price: 10000 },
            { id: 2, id_source: 1, id_destination: 6, price: 5000 },
            { id: 3, id_source: 2, id_destination: 8, price: 8000 },
            { id: 4, id_source: 2, id_destination: 9, price: 9000 },
            { id: 5, id_source: 3, id_destination: 7, price: 10000 }
        ];
    }
</script>
