<div class="container-fluid">
    <div class="navbar-header">
        <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav">
            <li><a href="/" style="padding-left: 20px;">Kawal Desa</a></li>
            <li><a href="/" style="padding-left: 20px;">Penyaluran</a></li>
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Dashboard ({{user.UserName}})</a></li>
    </ul>
</div>

<div class="content-header" ng-if="principal.isInRole('admin')">
    Dana Per Desa Di APBN
</div>

<div class="table-responsive" ng-if="principal.isInRole('admin')">
    <table class="table table-condensed table-responsive table-bordered">
        <thead>
            <tr>
                <th class="money">Tahun</th>
                <th class="money">Dana Per Desa</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="apbn in apbns">
                <td>{{apbn.Year}}</td>
                <td class="money"><input type="number" ng-model="apbn.DanaPerDesa"</input></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="success">
                <td colspan="2"><button class="success" ng-click="indexCtrl.saveAPBNs()">Simpan APBN</button></td>
            </tr>
        </tfoot>
    </table>
</div>


<div class="content-header" ng-if="principal.isInRole('admin')">
    Unggah DAU & DBH Kabupaten/Kota 
</div>

<div class="table-responsive" ng-if="principal.isInRole('admin')">
    <table class="table table-condensed table-responsive table-bordered">
        <thead>
            <tr>
                <th>Nama File</th>
                <th class="money">Jumlah APBD</th>
                <th class="money">Total DAU</th>
                <th class="money">Total DBH</th>
                <th>Tanggal Unggah</th>
                <th>Status</th>
                <th>Unduh</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="apbdFile in apbdFiles">
                <td>{{apbdFile.FileName}}</td>
                <td class="money"> {{apbdFile.APBDCount}} </td>
                <td class="money"> {{apbdFile.TotalDAU | currency:"":0}} </td>
                <td class="money"> {{apbdFile.TotalDBH | currency:"":0}} </td>
                <td> {{apbdFile.DateCreated}} </td>
                <td> {{apbdFile.IsComitted ? "Aktif" : "Tidak Aktif"}} </td>
                <td> <a href="#">Unduh</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="success">
                <td colspan="6"><button class="success" ng-click="indexCtrl.uploadAPBDFile()">Unggah File DAU & DBH Baru</button></td>
                <td><a href="#">Unduh File Contoh</a></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="content-header" ng-if="principal.isInRole('admin')">
    Unggah Penyaluran Dana Desa Dari APBN
</div>

<div class="table-responsive" ng-if="principal.isInRole('admin')">
    <table class="table table-condensed table-responsive table-bordered">
        <thead>
            <tr>
                <th>Nama File</th>
                <th class="money">Jumlah Transfer</th>
                <th class="money">Jumlah Desa</th>
                <th class="money">Total Nilai Transfer</th>
                <th>Tanggal Unggah</th>
                <th>Status</th>
                <th>Unduh</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transactionFile in transactionFiles">
                <td>{{transactionFile.FileName}}</td>
                <td class="money"> {{transactionFile.TransactionCount}} </td>
                <td class="money"> {{transactionFile.DesaCount}} </td>
                <td class="money"> {{transactionFile.TotalAmount | currency:"":0}} </td>
                <td> {{transactionFile.DateCreated}} </td>
                <td> {{transactionFile.IsComitted ? "Aktif" : "Tidak Aktif"}} </td>
                <td> <a href="#">Unduh</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="success">
                <td colspan="6"><button class="success" ng-click="indexCtrl.uploadAPBNTransactionFile()">Unggah File Penyaluran Dana Desa Dari APBN</button></td>
                <td><a href="#">Unduh File Contoh</a></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="content-header" ng-if="principal.isInRole('admin')">
    Unggah Penyaluran Dana Desa Dari ADD
</div>

<div class="table-responsive" ng-if="principal.isInRole('admin')">
    <table class="table table-condensed table-responsive table-bordered">
        <thead>
            <tr>
                <th>Nama File</th>
                <th class="money">Jumlah Transfer</th>
                <th class="money">Jumlah Desa</th>
                <th class="money">Total Nilai Transfer</th>
                <th>Tanggal Unggah</th>
                <th>Status</th>
                <th>Unduh</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transactionFile in transactionFiles">
                <td>{{transactionFile.FileName}}</td>
                <td class="money"> {{transactionFile.TransactionCount}} </td>
                <td class="money"> {{transactionFile.DesaCount}} </td>
                <td class="money"> {{transactionFile.TotalAmount | currency:"":0}} </td>
                <td> {{transactionFile.DateCreated}} </td>
                <td> {{transactionFile.IsComitted ? "Aktif" : "Tidak Aktif"}} </td>
                <td> <a href="#">Unduh</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="success">
                <td colspan="6"><button class="success" ng-click="indexCtrl.uploadADDTransactionFile()">Unggah File Penyaluran Dana Desa Dari ADD</button></td>
                <td ><a href="#">Unduh File Contoh</a></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="content-header" ng-if="principal.isInRole('admin')">
    Penerimaan Dana Desa
</div>

<div class="table-responsive" ng-if="principal.isInRole('admin')">
    <table class="table table-condensed table-responsive table-bordered">
        <thead>
            <tr>
                <th>Tanggal</th>
                <th>Sumber</th>
                <th class="money">Nilai Transfer</th>
                <th>Bukti Penerimaan</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in transactions">
                <td>{{transaction.DateCreated}}</td>
                <td> {{transaction.fkSourceID == 0 ? "APBN" : "ADD"}} </td>
                <td class="money"> {{transaction.Amount | currency:"":0}} </td>
                <td> <a href="#">Unduh</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="success">
                <td colspan="4"><button class="success" ng-click="indexCtrl.insertTransaction()">Masukan Transaksi Baru</button></td>
            </tr>
        </tfoot>
    </table>
</div>


