<div ng-controller="APBDesCtrl as apbdesCtrl" ng-if="indexCtrl.region.Type == 4">
    <table style="width:100%; height:100%">
        <tr>
            <td width="14%" class="sidebar" valign="top">
                <div class="sidebar">
                    <form class="form-horizontal" role="form" ng-submit="apbdesCtrl.onSubmittingWebsite()">
                        Website Desa<br />
                        <a href="" ng-click="apbdesCtrl.onRedirectWebsite(apbdesCtrl.websiteText)" ng-if="apbdesCtrl.linktWebsiteShow">{{apbdesCtrl.websiteText}}</a>
                        <input type="text" placeholder="Masukkan nama website desanya"
                               ng-model="apbdesCtrl.websiteText"
                               ng-if="apbdesCtrl.inputWebsiteShow" />
                        <input type="button" class="btn btn-xs" value="Edit"
                               ng-click="apbdesCtrl.onWebsiteShowInput()"
                               ng-if="apbdesCtrl.buttontWebsiteShow" />
                    </form>
                </div>
                <div class="sidebar">

                    <form class="form-horizontal" role="form">
                        APBDes {{apbdesCtrl.isCompleteStatus}} selesai <br />
                        <input type="button" class="btn btn-xs" value="Selesaikan"
                               ng-click="apbdesCtrl.onComplete()"
                               ng-if="apbdesCtrl.buttonCompleteShow" />
                    </form>
                </div>
                <div class="sidebar">
                    <form class="form-horizontal" role="form">
                        Sumber APBDes <br />
                        <input type="text" placeholder="Sumber APBDes" />
                        <div class="col-sm-10" style="margin-top:5px">
                            <input type="file" ng-file-select
                                   ng-model="file"
                                   ng-if="apbdesCtrl.buttonSearchFileShow" />
                        </div>
                    </form>
                </div>
            </td>
            <td width="86%" valign="top">
                <div ng-repeat="rootAccount in apbdesCtrl.rootAccounts">
                    <div class="meter">
                        <span style="width: 25%"></span>
                    </div>

                    <div class="content-header">
                        {{rootAccount.Code}}. {{rootAccount.Name}} Desa
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Kode Anggaran</th>
                                    <th style="text-align: center;">Nama Anggaran</th>
                                    <th style="text-align: center;">Target</th>
                                    <th style="text-align: center;" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">Sector</th>
                                    <th style="text-align: center;" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">ExpenseGroup</th>
                                    <th style="text-align: center;">Realisasi</th>
                                    <th style="text-align: center;">% Realisasi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="account in rootAccount.ChildAccounts"></tr>
                                <tr ng-if="apbdesCtrl.isExpanded(account)
                                    && apbdesCtrl.isFormExpanded(account)">
                                    <td style="border-top: 1px solid #fff; border-bottom: 1px solid #fff"></td>
                                    <td colspan="6" style="box-shadow: -2px 0 2px rgba(0, 0, 0, 0.05);">
                                        <div class="container-fluid">
                                            <form class="form-horizontal" role="form" ng-submit="">
                                                <h5 style="text-align: center; width: 100%">FORM ACCOUNT</h5>
                                                <div class="form-group input-sm">
                                                    <label for="date" class="col-sm-2 control-label">Deskripsi</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="description" placeholder="Deskripsi"
                                                               ng-model="apbdesCtrl.formRealization[account.ID].Description" />
                                                    </div>
                                                </div>
                                                <div class="form-group input-sm">
                                                    <label for="date" class="col-sm-2 control-label">Tanggal</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="date" placeholder="dd-mm-yyyy"
                                                               ng-model="apbdesCtrl.formRealization[account.ID].Date" />
                                                    </div>
                                                </div>
                                                <div class="form-group input-sm">
                                                    <label for="amount" class="col-sm-2 control-label">Jumlah</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" class="form-control" id="amount" placeholder="Jumlah"
                                                               ng-model="apbdesCtrl.formRealization[account.ID].Amount" />
                                                    </div>
                                                </div>
                                                <div class="form-group input-sm">
                                                    <label for="proof" class="col-sm-2 control-label">Lampiran</label>
                                                    <div class="col-sm-10">
                                                        <input type="file" ng-file-select id="proof"
                                                               ng-model="apbdesCtrl.formRealization[account.ID].Proof" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div style="width: 100%; text-align: center;">
                                                        <button type="submit" class="btn btn-xs btn-primary">Simpan</button>
                                                        <button class="btn btn-xs btn-danger" ng-click="apbdesCtrl.setFormAccount(account.ID, false)">Batal</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="detail" ng-if="apbdesCtrl.isExpanded(account)
                                    && !apbdesCtrl.isFormExpanded(account)
                                    && apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)
                                    && indexCtrl.isInRoleAndScope('volunteer_account', entity.RegionID)">
                                    <td style="box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.06);"></td>
                                    <td style="text-align: right;">
                                        <button class="btn btn-primary btn-xs" ng-click="apbdesCtrl.setFormAccount(account.ID, true)">
                                            Tambah
                                        </button>
                                    </td>
                                    <td colspan="3" ng-if="rootAccount.Type != apbdesCtrl.expenseTypeAccount"></td>
                                    <td colspan="5" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount"></td>
                                </tr>

                                <tr class="detail" ng-if="apbdesCtrl.isExpanded(account)" ng-repeat="realization in apbdesCtrl.realizations[account.ID]">
                                    <td style="box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.06);"></td>
                                    <td>
                                        {{realization.Realization.Description}}
                                    </td>
                                    <td class="money">
                                        {{realization.Transaction.Amount | number:0}}
                                    </td>
                                    <td colspan="2" ng-if="rootAccount.Type != apbdesCtrl.expenseTypeAccount"></td>
                                    <td colspan="4" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount"></td>
                                </tr>

                                <tr class="detail-sum" ng-if="apbdesCtrl.isExpanded(account)
                                    && apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)" style="box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.11)">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount"></td>
                                    <td ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount"></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr ng-repeat-end="" ng-class="{ 'account-head' : account.ParentAccount.fkParentAccountID == null,
                                    'account-tab' : account.ParentAccount.fkParentAccountID != null }">
                                    <td>
                                        <a href=" #" ng-click="" ng-if="apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{account.Code}}
                                        </a>
                                        <span ng-if="!apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{account.Code}}
                                        </span>
                                    </td>
                                    <td>
                                        <a href="#" ng-if="apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)"
                                           ng-click="apbdesCtrl.toggleAccountExpander(account.ID, $event)">
                                            {{account.Name}}
                                        </a>
                                        <span ng-if="!apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{account.Name}}
                                        </span>
                                    </td>
                                    <td class="money">
                                        <span ng-if="apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{( account.Target | number:0 ) || "0"}}
                                        </span>
                                        <span ng-if="!apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{apbdesCtrl.totalTargetAmount[account.ID] | number:0}}
                                        </span>
                                    </td>
                                    <td class="money" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">
                                        <span ng-if="apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{account.ExpenseGroup || "Others"}}
                                        </span>
                                    </td>
                                    <td class="money" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">
                                        <span ng-if="apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{account.ExpenseGroup || "Others"}}
                                        </span>
                                    </td>
                                    <td class="money">
                                        <span ng-if="apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{( account.TotalRealizationPerAccount | number:0 ) || "0"}}
                                        </span>
                                        <span ng-if="!apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{apbdesCtrl.totalRealizationAmount[account.ID] | number:0}}
                                        </span>
                                    </td>
                                    <td class="money">
                                        <span ng-if="apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{((account.TotalRealizationPerAccount / account.Target) * 100 | number:0) || "0"}}
                                        </span>
                                        <span ng-if="!apbdesCtrl.isRootAccount(account.ParentAccount.fkParentAccountID)">
                                            {{apbdesCtrl.totalTargetAmount[account.ID] == null || apbdesCtrl.totalRealizationAmount[account.ID] == null || apbdesCtrl.totalTargetAmount[account.ID] === 0 ? null : ((apbdesCtrl.totalRealizationAmount[account.ID] / apbdesCtrl.totalTargetAmount[account.ID]) * 100).toFixed(0)}}
                                        </span>
                                    </td>
                                </tr>

                                <tr ng-repeat="newAccount in apbdesCtrl.newAccounts[rootAccount.ID]">
                                    <td>
                                        <input type="text" placeholder="Kode" ng-model="newAccount.Code" />
                                        <span ng-if="apbdesCtrl.formErrors[rootAccount.ID][$index].Code" style="color:red">
                                            {{apbdesCtrl.formErrors[rootAccount.ID][$index].Code}}
                                        </span>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Nama" ng-model="newAccount.Name" />
                                        <span ng-if="apbdesCtrl.formErrors[rootAccount.ID][$index].Name" style="color:red">
                                            {{apbdesCtrl.formErrors[rootAccount.ID][$index].Name}}
                                        </span>
                                    </td>
                                    <td colspan="3" ng-if="rootAccount.Type != apbdesCtrl.expenseTypeAccount">
                                        <input type="number" placeholder="Target" ng-model="newAccount.Target" />
                                        <span ng-if="apbdesCtrl.formErrors[rootAccount.ID][$index].Target" style="color:red">
                                            {{apbdesCtrl.formErrors[rootAccount.ID][$index].Target}}
                                        </span>
                                        <button type="button" class="close" ng-click="apbdesCtrl.deleteNewAccount(apbdesCtrl.newAccounts[rootAccount.ID], $index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    </td>
                                    <td ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">
                                        <input type="number" placeholder="Target" ng-model="newAccount.Target" />
                                        <span ng-if="apbdesCtrl.formErrors[rootAccount.ID][$index].Target" style="color:red">
                                            {{apbdesCtrl.formErrors[rootAccount.ID][$index].Target}}
                                        </span>
                                    </td>
                                    <td ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">
                                        <select ng-model="accountType" ng-options="key as value for (key, value) in apbdesCtrl.filteredSector">
                                            <option value="">Pilih salah satu</option>
                                        </select>
                                    </td>
                                    <td colspan="3" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">
                                        <select ng-model="sector" ng-options="key as value for (key, value) in apbdesCtrl.filteredExpenses">
                                            <option value="">Pilih salah satu</option>

                                        </select>
                                        <button type="button" class="close" ng-click="apbdesCtrl.deleteNewAccount(apbdesCtrl.newAccounts[rootAccount.ID], $index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    </td>
                                </tr>

                                <tr class="" ng-if="indexCtrl.isInRoleAndScope('volunteer_account', entity.RegionID)">
                                    <td colspan="2">
                                        <button class="btn btn-xs"
                                                ng-click="apbdesCtrl.addNewAccount(rootAccount.ID)">
                                            Tambah {{rootAccount.Name}}
                                        </button>
                                    </td>
                                </tr>

                                <tr class="" ng-if="indexCtrl.isInRoleAndScope('volunteer_account', entity.RegionID)">
                                    <td colspan="2">
                                        <button class="btn btn-primary btn-xs"
                                                ng-click="apbdesCtrl.saveNewAccounts(rootAccount.ID)">
                                            Simpan
                                        </button>
                                        <span ng-if="">Menyimpan</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="rootAccount.ChildAccounts.length > 0">
                                <tr class="success">
                                    <td colspan="2"><a href="">Total</a></td>
                                    <td class="money"> {{(apbdesCtrl.totalRootTargetAmount[rootAccount.ID] | number:0) }} </td>
                                    <td ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount"></td>
                                    <td ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount"></td>
                                    <td class="money"> {{(apbdesCtrl.totalRootRealizationAmount[rootAccount.ID] | number:0) }} </td>
                                    <td class="money">
                                        {{apbdesCtrl.totalRootTargetAmount[rootAccount.ID] == null || apbdesCtrl.totalRootRealizationAmount[rootAccount.ID] == null || apbdesCtrl.totalRootTargetAmount[rootAccount.ID] === 0 ? null : ((apbdesCtrl.totalRootRealizationAmount[rootAccount.ID] / apbdesCtrl.totalRootTargetAmount[rootAccount.ID]) * 100).toFixed(0)}}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </td>
        </tr>
    </table>
</div>
