<div ng-controller="APBDesCtrl as apbdesCtrl" ng-if="indexCtrl.region.Type == 4">
    <div ng-repeat="rootAccount in apbdesCtrl.rootAccounts">
        <div class="content-header">
            {{rootAccount.Code}}. {{rootAccount.Name}} Desa
        </div>

        <div class="table-responsive">
            <table class="table table-condensed table-responsive table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center;">Kode Anggaran</th>
                        <th style="text-align: center;">Nama Anggaran</th>
                        <th style="text-align: center;">Target</th>
                        <th style="text-align: center;">Realisasi</th>
                        <th style="text-align: center;">% Realisasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="account in rootAccount.ChildAccounts">
                        <td>
                            <a href="#" ng-click="">
                                {{account.Code}}
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="">
                                {{account.Name}}
                            </a>
                        </td>

                        <td class="money"> {{account.Target | number:0}} </td>
                        <td class="money"> {{0 | number:0}} </td>
                        <td class="money"> {{0 | number:0}} </td>

                    </tr>
                </tbody>

                <tfoot ng-show="entities.length > 0">
                    <tr class="success">
                        <td><a href="">Total</a></td>
                        <td class="money"> {{total.BudgetedIncome | number:0}}</td>
                        <td class="money"> {{total.RealizedIncome | number:0}} </td>

                        <td class="money"> {{total.BudgetedExpense | number:0}} </td>
                        <td class="money"> {{total.RealizedExpense | number:0}} </td>

                        <td class="money"> {{total.EmployeeExpense | number:0}} </td>
                    </tr>
                </tfoot>

            </table>
        </div>

    </div>
</div>