<div ng-controller="APBDesCtrl as apbdesCtrl" ng-if="indexCtrl.region.Type == 4">
    <table style="width:100%; height:100%">
        <tr>
            <td width="14%" class="sidebar" valign="top">
                <div class="sidebar">
                    <form class="form-horizontal" role="form" ng-submit="apbdesCtrl.onSubmittingWebsite()">
                        Website Desa<br />
                        <a href="" ng-click="apbdesCtrl.onRedirectWebsite(apbdesCtrl.websiteText)" ng-if="apbdesCtrl.linktWebsiteShow">{{apbdesCtrl.websiteText}}</a>
                        <input type="text" placeholder="Masukkan nama website desanya"
                               ng-model="apbdesCtrl.websiteText"
                               ng-if="apbdesCtrl.inputWebsiteShow" />
                        <input type="button" class="btn btn-xs" value="Edit"
                               ng-click="apbdesCtrl.onWebsiteShowInput()"
                               ng-if="apbdesCtrl.buttontWebsiteShow" />
                    </form>
                </div>
                <div class="sidebar">

                    <form class="form-horizontal" role="form">
                        APBDes {{apbdesCtrl.isCompleteStatus}} selesai <br />
                        <input type="button" class="btn btn-xs" value="Selesaikan"
                               ng-click="apbdesCtrl.onComplete()"
                               ng-if="apbdesCtrl.buttonCompleteShow" />
                    </form>
                </div>
                <div class="sidebar">
                    <form class="form-horizontal" role="form">
                        Sumber APBDes <br />
                        <input type="text" placeholder="Sumber APBDes" />
                        <div class="col-sm-10" style="margin-top:5px">
                            <input type="file" ng-file-select
                                   ng-model="file"
                                   ng-if="apbdesCtrl.buttonSearchFileShow" />
                        </div>
                    </form>
                </div>
            </td>
            <td width="86%" valign="top">

                <div ng-repeat="rootAccount in apbdesCtrl.rootAccounts">
                    <div class="meter">
                        <span style="width: 25%"></span>
                    </div>

                    <div class="content-header">
                        {{rootAccount.Code}}. {{rootAccount.Name}} Desa
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Kode Anggaran</th>
                                    <th style="text-align: center;">Nama Anggaran</th>
                                    <th style="text-align: center;">Target</th>
                                    <th style="text-align: center;" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">Sector</th>
                                    <th style="text-align: center;" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">ExpenseGroup</th>
                                    <th style="text-align: center;">Realisasi</th>
                                    <th style="text-align: center;">% Realisasi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="account in rootAccount.ChildAccounts" ng-class="{ 'account-head' : account.ParentAccount.fkParentAccountID == null,
                                    'account-tab' : account.ParentAccount.fkParentAccountID != null }">
                                    <td>
                                        <a href=" #" ng-click="">
                                            {{account.Code}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" ng-click="">
                                            {{account.Name}}
                                        </a>
                                    </td>

                                    <td class="money"> {{( account.Target | number:0 ) || "0"}} </td>
                                    <td class="money" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount"> {{account.ExpenseGroup || "Others"}} </td>
                                    <td class="money" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount"> {{account.ExpenseGroup || "Others"}} </td>
                                    <td class="money"> {{0 | number:0}} </td>
                                    <td class="money"> {{0 | number:0}} </td>
                                </tr>
                                <tr ng-repeat="newAccount in apbdesCtrl.newAccounts[rootAccount.ID]">
                                    <td>
                                        <input type="text" placeholder="Kode" ng-model="newAccount.Code" />
                                        <span ng-if="apbdesCtrl.formErrors[rootAccount.ID][$index].Code" style="color:red">
                                            {{apbdesCtrl.formErrors[rootAccount.ID][$index].Code}}
                                        </span>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Nama" ng-model="newAccount.Name" />
                                        <span ng-if="apbdesCtrl.formErrors[rootAccount.ID][$index].Name" style="color:red">
                                            {{apbdesCtrl.formErrors[rootAccount.ID][$index].Name}}
                                        </span>
                                    </td>
                                    <td colspan="3" ng-if="rootAccount.Type != apbdesCtrl.expenseTypeAccount">
                                        <input type="number" placeholder="Target" ng-model="newAccount.Target" />
                                        <span ng-if="apbdesCtrl.formErrors[rootAccount.ID][$index].Target" style="color:red">
                                            {{apbdesCtrl.formErrors[rootAccount.ID][$index].Target}}
                                        </span>
                                        <button type="button" class="close" ng-click="apbdesCtrl.deleteNewAccount(apbdesCtrl.newAccounts[rootAccount.ID], $index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    </td>
                                    <td ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">
                                        <input type="number" placeholder="Target" ng-model="newAccount.Target" />
                                        <span ng-if="apbdesCtrl.formErrors[rootAccount.ID][$index].Target" style="color:red">
                                            {{apbdesCtrl.formErrors[rootAccount.ID][$index].Target}}
                                        </span>
                                    </td>
                                    <td ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">
                                        <select ng-model="accountType" ng-options="key as value for (key, value) in apbdesCtrl.filteredSector">
                                            <option value="">Pilih salah satu</option>
                                        </select>
                                    </td>
                                    <td colspan="3" ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount">
                                        <select ng-model="sector" ng-options="key as value for (key, value) in apbdesCtrl.filteredExpenses">
                                            <option value="">Pilih salah satu</option>
                                          
                                        </select>
                                        <button type="button" class="close" ng-click="apbdesCtrl.deleteNewAccount(apbdesCtrl.newAccounts[rootAccount.ID], $index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    </td>
                                </tr>
                                <tr class="" ng-if="indexCtrl.isInRoleAndScope('volunteer_account', entity.RegionID)">
                                    <td colspan="2">
                                        <button class="btn btn-xs"
                                                ng-click="apbdesCtrl.addNewAccount(rootAccount.ID)">
                                            Tambah {{rootAccount.Name}}
                                        </button>
                                    </td>
                                </tr>
                                <tr class="" ng-if="indexCtrl.isInRoleAndScope('volunteer_account', entity.RegionID)">
                                    <td colspan="2">
                                        <button class="btn btn-primary btn-xs"
                                                ng-click="apbdesCtrl.saveNewAccounts(rootAccount.ID)">
                                            Simpan
                                        </button>
                                        <span ng-if="">Menyimpan</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="rootAccount.ChildAccounts.length > 0">
                                <tr class="success">
                                    <td colspan="2"><a href="">Total</a></td>
                                    <td class="money"> {{(0 | number:0) }} </td>
                                    <td ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount"></td>
                                    <td ng-if="rootAccount.Type == apbdesCtrl.expenseTypeAccount"></td>
                                    <td class="money"> {{(0 | number:0) }} </td>
                                    <td class="money"> {{(0 | number:0) }} </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </td>
        </tr>
    </table>
</div>
