<div ng-controller="BhprAllocationCtrl as allocationCtrl" ng-if="indexCtrl.type == 'bhpr' && indexCtrl.region.Type < 4">

    <div class="alert alert-success" style="font-size: small; padding: 5px 20px;">
        <b>Dana desa</b> adalah dana yang bersumber dari Anggaran Pendapatan dan Belanja Negara (<b>APBN</b>) yang diperuntukkan bagi desa <a href="#" ng-click="showMore=true;" class="btn btn-default btn-xs" ng-show="!showMore">...</a><span ng-show="showMore">yang ditransfer melalui Anggaran Pendapatan dan Belanja Daerah (APBD) kabupaten/kota dan digunakan untuk membiayai penyelenggaraan pemerintahan, pelaksanaan pembangunan, pembinaan kemasyarakatan dan pemberdayaan masyarakat. (Sumber: <a href="#">PP No. 60 tahun 2014</a>, <a href="#">PP No. 22 tahun 2015</a>)</span>
        <br />
    </div>

    <div class="content-header">
        Pagu Bagi Hasil Pajak &amp; Retribusi dari APBD-P 2015
    </div>

    @Html.Partial("DocumentUploadSource")

    <div class="table-responsive">
        <table class="table table-condensed table-responsive table-bordered">
            <thead>
                <tr ng-if="indexCtrl.region.Type < 2">
                    <th style="vertical-align: middle;">{{indexCtrl.childName}}</th>
                    <th class="money" style="width: 10%; vertical-align: middle; text-align: center;">Pajak Daerah</th>
                    <th class="money" style="width: 10%; vertical-align: middle; text-align: center;">Retribusi Daerah</th>
                    <th class="money" style="width: 10%; vertical-align: middle; text-align: center;">Total Bagi Hasil Pajak &amp; Retribusi</th>
                    <th class="money" style="width: 10%; vertical-align: middle; text-align: center;">% Total Bagi Hasil Pajak / (Pajak + Retribusi Daerah) <a href="#help-target">?</a></th>
                    <th class="money" style="width: 10%; vertical-align: middle; text-align: center;">Jumlah Desa</th>
                    <th class="money" style="width: 10%; vertical-align: middle; text-align: center;">Rata-rata Bagi Hasil</th>
                </tr>
                <tr ng-if="indexCtrl.region.Type >= 2">
                    <th style="vertical-align: middle;" rowspan="2">{{indexCtrl.childName}}</th>
                    <th style="vertical-align: middle;" class="money" rowspan="2">Alokasi Merata</th>
                    <th colspan="4" style="text-align: center;">Alokasi Proporsional</th>
                    <th style="vertical-align: middle;" class="money" rowspan="2" class="money">Bagi Hasil Pajak yang Diterima Desa</th>
                </tr>
                <tr ng-if="indexCtrl.region.Type >= 2">
                    <th class="money">Realisasi PDRD Desa</th>
                    <th class="money">Realisasi PDRD Seluruh Desa</th>
                    <th class="money">% Realisasi PDRD Desa / Seluruh Desa</th>
                    <th class="money">Alokasi Proporsional</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entity in entities" ng-if="indexCtrl.region.Type < 2">
                    <td>
                        <a href="/add/{{entity.RegionId}}" ng-click="indexCtrl.changeRegion(entity.RegionId, $event)">
                            {{entity.RegionName}}
                        </a>
                    </td>
                    <td class="money"> {{entity.RegionalTax | number:0}} </td>
                    <td class="money"> {{entity.RegionalRetribution | number:0}} </td>
                    <td class="money"> {{entity.Bhpr | number:0}} </td>
                    <td class="money"> {{entity.Bhpr / (entity.RegionalTax + entity.RegionalRetribution) * 100 | number:0}}</td>
                    <td class="money"> {{entity.TotalDesa | number:0}} </td>
                    <td class="money"> {{entity.Bhpr / entity.CompletedDesa | number:0}} </td>
                </tr>
                <tr ng-repeat="entity in entities" ng-if="indexCtrl.region.Type >= 2">
                    <td>
                        <a href="/add/{{entity.RegionId}}" ng-click="indexCtrl.changeRegion(entity.RegionId, $event)">
                            {{entity.RegionName}}
                        </a>
                    </td>
                    <td class="money"> {{entity.BaseAllocation | number:0}}</td>
                    <td class="money"> {{entity.Pdrd | number:0}}</td>
                    <td class="money"> {{total.Pdrd | number:0}}</td>
                    <td class="money"> {{entity.PdrdRatio | number:0}}</td>
                    <td class="money"> {{entity.FormulaBasedAllocation | number:0}}</td>
                    <td class="money"> {{entity.Bhpr | number:0}}</td>
                </tr>
            </tbody>
            <tfoot ng-show="entities.length > 0">
                <tr class="success" ng-if="indexCtrl.region.Type < 2">
                    <td><a href="">Total</a></td>
                    <td class="money"> {{total.RegionalTax | number:0}} </td>
                    <td class="money"> {{total.RegionalRetribution | number:0}} </td>
                    <td class="money"> {{total.Bhpr | number:0}} </td>
                    <td class="money"> {{total.Bhpr / (total.RegionalTax + total.RegionalRetribution) * 100 | number:0}}</td>
                    <td class="money"> {{total.TotalDesa | number:0}} </td>
                    <td class="money"> {{total.Bhpr / total.CompletedDesa | number:0}} </td>
                </tr>
                <tr class="success" ng-if="indexCtrl.region.Type >= 2">
                    <td><a href="">Total</a></td>
                    <td class="money"> {{total.BaseAllocation | number:0}}</td>
                    <td class="money"> {{total.Pdrd | number:0}}</td>
                    <td class="money"> {{total.Pdrd | number:0}}</td>
                    <td class="money"> {{total.PdrdRatio | number:0}}</td>
                    <td class="money"> {{total.FormulaBasedAllocation | number:0}}</td>
                    <td class="money"> {{total.Bhpr | number:0}}</td>
                </tr>
            </tfoot>

            <tfoot ng-show="entities.length == 0">
                <tr>
                    <td colspan="17" style="padding: 10px 5px; text-align: center;">Memuat data...</td>
                </tr>
            </tfoot>

        </table>
    </div>

    <div class="container-fluid well help">
        <ul>
            <li id="help-target">
                Menurut PP No. 22 tahun 2015 pasal 30 A, pengalokasian anggaran Dana Desa dalam APBN dilakukan secara bertahap, yang dilaksanakan sebagai berikut:
                <ul>
                    <li>a. Tahun Anggaran 2015 paling sedikit sebesar 3% (tiga per seratus);</li>
                    <li>b. Tahun Anggaran 2016 paling sedikit sebesar 6% (enam per seratus);</li>
                    <li>dan c.Tahun Anggaran 2017 dan seterusnya sebesar 10% (sepuluh per seratus), dari anggaran Transfer ke Daerah.</li>
                </ul>
            </li>
        </ul>
    </div>

</div>
