@{

    Layout = "_Layout.cshtml";
};

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9" style="border-right: 0px solid #ddd;">
            <div class="alert alert-danger" style="font-size: small; padding: 5px 10px;">
                <p>
                    Maaf, Anda belum terdaftar sebagai pelapor. Untuk Mendaftar sebagai pelapor, silahkan
                    <a href=https://docs.google.com/a/microvac.co.id/forms/d/1rzLEcNbu0VvGCX2N_j225jd9EHtz96hbrCZgZMeL45o/viewform?usp=send_form>
                        <strong>Isi Form Ini</strong>
                    </a>
               </p>
            </div>
        </div>
    </div>
</div>