@{
    Layout = "_Layout.cshtml";
}

<div class="content-header">
    Penyaluran Dana Desa Dari Pusat & Kabupaten/Kota
</div>

<div class="table-responsive">
    <table class="table table-condensed table-responsive table-bordered">
        <thead>
            <tr>
                <th rowspan="2" style="vertical-align: middle;">{{childName}}</th>
                <th colspan="3" style="text-align: center; width: 25%;">Dana Desa (APBN + ADD)</th>
                <th colspan="3" style="text-align: center; width: 25%;">APBN (Pusat → Desa)</th>
                <th colspan="3" style="text-align: center; width: 25%;">ADD (Kabupaten → Desa)</th>
            </tr>
            <tr>
                <th class="money" style="width: 8.3333%;">Anggaran</th>
                <th class="money" style="width: 8.3333%;">Tertransfer</th>
                <th class="money" style="width: 8.3333%;">Diterima</th>
                <th class="money" style="width: 8.3333%;">Anggaran</th>
                <th class="money" style="width: 8.3333%;">Tertransfer</th>
                <th class="money" style="width: 8.3333%;">Diterima</th>
                <th class="money" style="width: 8.3333%;">Anggaran</th>
                <th class="money" style="width: 8.3333%;">Tertransfer</th>
                <th class="money" style="width: 8.3333%;">Diterima</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="entity in entities"></tr>
            <tr class="detail-padding" ng-if="recapitulationCtrl.isExpanded(entity)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="detail" ng-if="recapitulationCtrl.isExpanded(entity)
                && recapitulationCtrl.isFormExpanded(entity)
                && recapitulationCtrl.hasAnyVolunteerRoles()">
                <td></td>
                <td colspan="9">
                    <div class="container-fluid">
                        <form class="form-horizontal" role="form" ng-submit="recapitulationCtrl.saveForm(entity)">
                            <h5 style="text-align: center; width: 100%">
                                Tambah Laporan
                                {{recapitulationCtrl.formTransactions[entity.RegionID].fkActorID == entity.RegionID ? 'Terima Transfer' : 'Transfer'}}
                                {{recapitulationCtrl.formTransactions[entity.RegionID].fkSourceID == 0 ? 'APBN' : 'ADD'}}
                                (
                                {{recapitulationCtrl.formTransactions[entity.RegionID].fkSourceID == 0 ? 'Pusat' : regionTree[2].Name}}
                                -> Desa {{entity.RegionName}})
                            </h5>
                            <div class="form-group input-sm">
                                <label for="date" class="col-sm-2 control-label">Tanggal</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           ng-model="recapitulationCtrl.formTransactions[entity.RegionID].Date"
                                           class="form-control" id="date" placeholder="dd-mm-yyyy">
                                </div>
                            </div>
                            <div class="form-group input-sm">
                                <label for="amount" class="col-sm-2 control-label">Jumlah</label>
                                <div class="col-sm-10">
                                    <input type="number"
                                           ng-model="recapitulationCtrl.formTransactions[entity.RegionID].Amount"
                                           class="form-control" id="amount" placeholder="Jumlah Transfer">
                                </div>
                            </div>
                            <div class="form-group input-sm">
                                <label for="proof" class="col-sm-2 control-label">Lampiran</label>
                                <div class="col-sm-10">
                                    <input type="file" ng-file-select
                                           ng-model="recapitulationCtrl.formTransactions[entity.RegionID].File"
                                           id="proof" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="width: 100%; text-align: center;">
                                    <button type="submit" class="btn btn-xs btn-primary">Simpan</button>
                                    <button class="btn btn-xs btn-danger" ng-click="recapitulationCtrl.setFormExpanded(entity, false)">Batal</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </td>
            </tr>
            <tr class="detail" ng-if="recapitulationCtrl.isExpanded(entity)
                && !recapitulationCtrl.isFormExpanded(entity)
                && recapitulationCtrl.hasAnyVolunteerRoles()">
                <td></td>

                <td></td>
                <td></td>
                <td></td>

                <td></td>
                <td style="text-align: right;">
                    <button class="btn btn-primary btn-xs"
                            ng-click="recapitulationCtrl.setFormExpanded(entity, [0, entity.RegionID, 0])"
                            ng-if="recapitulationCtrl.isInRole('volunteer_apbn')">
                        Tambah
                    </button>
                </td>
                <td style="text-align: right;">
                    <button class="btn btn-primary btn-xs"
                            ng-click="recapitulationCtrl.setFormExpanded(entity, [0, entity.RegionID, entity.RegionID])"
                            ng-if="recapitulationCtrl.isInRole('volunteer_desa')">
                        Tambah
                    </button>
                </td>

                <td></td>
                <td style="text-align: right;">
                    <button class="btn btn-primary btn-xs"
                            ng-click="recapitulationCtrl.setFormExpanded(entity, [regionTree[2].ID, entity.RegionID, regionTree[2].ID])"
                            ng-if="recapitulationCtrl.isInRole('volunteer_add')">
                        Tambah
                    </button>
                </td>
                <td style="text-align: right;">
                    <button class="btn btn-primary btn-xs"
                            ng-click="recapitulationCtrl.setFormExpanded(entity, [regionTree[2].ID, entity.RegionID, entity.RegionID])"
                            ng-if="recapitulationCtrl.isInRole('volunteer_desa')">
                        Tambah
                    </button>
                </td>
            </tr>
            <tr class="detail" ng-if="recapitulationCtrl.isExpanded(entity)" ng-repeat="transaction in recapitulationCtrl.transactions[entity.RegionID]">
                <td></td>
                <td>&nbsp;</td>
                <td class="money"></td>
                <td class="money"></td>
                <td>&nbsp;</td>
                <td class="money">
                    <span class="info"><a target="_blank" href="/api/Blob/Download?blobID=4">{{transaction.APBN.TransferredDate}}</a></span>
                    {{transaction.APBN.TransferredAmount | number:0}}
                </td>
                <td class="money">
                    <span class="info"><a target="_blank" href="/api/Blob/Download?blobID=4">{{transaction.APBN.AcknowledgedDate}}</a></span>
                    {{transaction.APBN.AcknowledgedAmount | number:0}}
                </td>
                <td></td>
                <td class="money">
                    <span class="info"><a target="_blank" href="/api/Blob/Download?blobID=4">{{transaction.ADD.TransferredDate}}</a></span>
                    {{transaction.ADD.TransferredAmount | number:0}}
                </td>
                <td class="money">
                    <span class="info"><a target="_blank" href="/api/Blob/Download?blobID=4">{{transaction.ADD.AcknowledgedDate}}</a></span>
                    {{transaction.ADD.AcknowledgedAmount | number:0}}
                </td>
            </tr>
            <tr class="detail-sum" ng-if="recapitulationCtrl.isExpanded(entity)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat-end="">
                <td>
                    <a href="#" ng-click="recapitulationCtrl.activate(region.Type, entity.RegionID, $event)">
                        {{entity.RegionName}}
                    </a>
                </td>
                <td class="money"> {{entity.BudgettedTotal | number:0}}</td>
                <td class="money"> {{entity.TransferredTotal | number:0}} </td>
                <td class="money"> {{entity.AcknowledgedTotal | number:0}} </td>

                <td class="money"> {{entity.BudgetedAPBN | number:0}} </td>
                <td class="money"> {{entity.TransferredAPBN | number:0}} </td>
                <td class="money"> {{entity.AcknowledgedAPBN | number:0}} </td>

                <td class="money"> {{entity.BudgetedADD | number:0}} </td>
                <td class="money"> {{entity.TransferredADD | number:0}} </td>
                <td class="money"> {{entity.AcknowledgedADD | number:0}} </td>
            </tr>
        </tbody>

        <tfoot ng-show="entities.length > 0">
            <tr class="success">
                <td><a href="">Total</a></td>
                <td class="money"> {{total.BudgettedTotal | number:0}} </td>
                <td class="money"> {{total.TransferredTotal | number:0}} </td>
                <td class="money"> {{total.AcknowledgedTotal | number:0}} </td>

                <td class="money"> {{total.BudgetedAPBN | number:0}} </td>
                <td class="money"> {{total.TransferredAPBN | number:0}} </td>
                <td class="money"> {{total.AcknowledgedAPBN | number:0}} </td>

                <td class="money"> {{total.BudgetedADD | number:0}} </td>
                <td class="money"> {{total.TransferredADD | number:0}} </td>
                <td class="money"> {{total.AcknowledgedADD | number:0}} </td>
            </tr>
        </tfoot>

        <tfoot ng-show="entities.length == 0">
            <tr>
                <td colspan="10" style="padding: 10px 5px; text-align: center;">Memuat data...</td>
            </tr>
        </tfoot>

    </table>
</div>

@Scripts.Render("~/js/index")
