@{
    Layout = "_Layout.cshtml";
}

<div ng-controller="LoginCtrl as loginCtrl" ng-if="indexCtrl.type == 'login'">
    <script type="text/javascript">window.Referrer = '@Html.Raw(ViewData["Referrer"])';</script>
    <div class="content-header">
        Login
    </div>

    <form method="POST" id="login-form" ng-submit="loginCtrl.login()">
        <div class="alert" ng-show="formMessage" ng-class="{'alert-success': formMessage.type === 'success', 'alert-danger': formMessage.type === 'error'}">
            <p>{{formMessage.message}}</p>
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" ng-model="model.UserName">
            <div class="note note-error" ng-show="formMessage.errors.UserName">
                <p ng-repeat="message in formMessage.errors.UserName">{{message}}</p>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="model.Password">
            <div class="note note-error" ng-show="formMessage.errors.Password">
                <p ng-repeat="message in formMessage.errors.Password">{{message}}</p>
            </div>
        </div>
        <footer>
            <button type="submit" class="btn btn-primary">
                Sign in
            </button>
        </footer>
    </form>

</div>
