<tfoot ng-show="isEntitiesLoading">
    <tr>
        <td colspan="100" style="padding: 80px 5px; text-align: center;">
            <img style="margin: 0 auto;" src="/Content/loading.gif" />
            <br />
            <br />
            Memuat data...
        </td>
    </tr>
</tfoot>
