<div ng-controller="TransferRecapitulationCtrl as recapitulationCtrl" ng-if="indexCtrl.type == 'transfer'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9" style="border-right: 1px solid #ddd;">
                <div class="alert alert-success" style="font-size: small; padding: 5px 10px;">
                    <p>
                        Mari mengawal Dana Desa dengan transparansi alokasi, penyaluran, dan realisasinya.
                        <a href="/Docs/html/overview.html">
                            <strong>Apa itu kawal desa?</strong>
                        </a>
                    </p>
                </div>

                <ul class="nav nav-tabs front-numbers">
                    <li>
                        <span class="number text-primary">{{indexCtrl.data.InScopeKabCount}}</span>
                        <span class="text text-primary">Kabupaten Tercakup</span>
                    </li>
                    <li>
                        <span class="number text-success">{{indexCtrl.data.TransferCount}}</span>
                        <span class="text text-success">Penyaluran Terlaporkan</span>
                    </li>
                </ul>

                <div class="content-header">
                    Penyaluran Pendapatan Desa Dari Pusat & Kabupaten/Kota Tahun Anggaran 2015<sup><a href="#help-penyaluran">?</a></sup>
                </div>

                <div class="table-responsive">
                    <table class="table table-condensed table-responsive table-bordered table-striped">
                        <thead ng-show="!isEntitiesLoading">
                            <tr>
                                <th rowspan="2" style="vertical-align: middle;">{{indexCtrl.childName}}</th>
                                <th colspan="3" style="text-align: center; width: 25%;">DD (Pusat → Desa) <sup><a href="#help-dd">?</a></sup></th>
                                <th colspan="3" style="text-align: center; width: 25%;">ADD (Kabupaten → Desa)<sup><a href="#help-add">?</a></sup></th>
                                <!--
                                <th colspan="2" style="text-align: center; width: 25%;">Bagi Hasil Pajak (Kabupaten → Desa)<sup><a href="#help-bhpr">?</a></sup></th>
                                    -->
                            </tr>
                            <tr>
                                <th class="money" style="width: 12.3333%;">Anggaran <sup><a href="#help-anggaran">?</a></sup></th>
                                <th class="money" style="width: 12.3333%;">Target April 40%<sup><a href="#help-target">?</a></sup></th>
                                <th class="money" style="width: 12.3333%;">Tersalurkan</th>
                                <th class="money" style="width: 12.3333%;">Anggaran</th>
                                <th class="money" style="width: 12.3333%;">Target April 40%</th>
                                <th class="money" style="width: 12.3333%;">Tersalurkan</th>
                                <!--
                                <th class="money" style="width: 10%;">Anggaran</th>
                                <th class="money" style="width: 10%;">Tersalurkan</th>
                                -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="indexCtrl.guessedRegionType < 4" ng-repeat="entity in entities">
                                <td>
                                    <a href="/p/{{entity.RegionId}}" ng-click="indexCtrl.changeRegion(entity.RegionId, $event)">
                                        {{entity.RegionName}}
                                    </a>
                                </td>
                                <td class="money">
                                    <div style="float:right;">{{entity.BudgetedDd | number:0}} </div>
                                    <div class="bar-percent" ng-style="indexCtrl.getBarPercent(entity.BudgetedDd, total.BudgetedDd)"> </div>
                                </td>
                                <td class="money">
                                    <div style="float:right;">{{entity.BudgetedDd * 0.4 | number:0}} </div>
                                </td>
                                <td class="money">
                                    <div style="float:right;">{{entity.TransferredDd | number:0}} </div>
                                    <div class="bar-percent" ng-style="indexCtrl.getBarPercent(entity.TransferredDd, entity.BudgettedDd)"> </div>
                                </td>
                                <td class="money">
                                    <div style="float:right;">{{entity.BudgetedAdd | number:0}} </div>
                                    <div class="bar-percent" ng-style="indexCtrl.getBarPercent(entity.BudgetedAdd, total.BudgetedAdd)"> </div>
                                </td>
                                <td class="money">
                                    <div style="float:right;">{{entity.BudgetedAdd * 0.4 | number:0}} </div>
                                </td>
                                <td class="money">
                                    <div style="float:right;">{{entity.TransferredAdd | number:0}} </div>
                                    <div class="bar-percent" ng-style="indexCtrl.getBarPercent(entity.TransferredAdd, entity.BudgetedAdd)"> </div>
                                </td>
                                <!--
                                <td class="money">
                                    <div style="float:right;">{{entity.BudgetedBhpr | number:0}} </div>
                                    <div class="bar-percent" ng-style="indexCtrl.getBarPercent(entity.BudgetedBhpr, total.BudgetedBhpr)"> </div>
                                </td>
                                <td class="money">
                                    <div style="float:right;">{{entity.TransferredBhpr | number:0}} </div>
                                    <div class="bar-percent" ng-style="indexCtrl.getBarPercent(entity.TransferredBhpr, entity.BudgettedBhpr)"> </div>
                                </td>
                                    -->
                            </tr>
                            <tr ng-if="indexCtrl.guessedRegionType == 4" ng-repeat="entity in entities">
                                <td>
                                    {{entity.Date| date: 'dd MMMM yyyy'}}
                                </td>
                                <td class="money">
                                    &nbsp;
                                </td>
                                <td class="money">
                                    &nbsp;
                                </td>
                                <td class="money">
                                    <div style="float:right;">{{entity.Dd | number:0}} </div>
                                    <div class="fill-meter-bar" ng-style="recapitulationCtrl.moveFillMeterBar(entity.BudgetedAPBN, entity.AcknowledgedAPBN)"> </div>
                                </td>
                                <td class="money">
                                    &nbsp;
                                </td>
                                <td class="money">
                                    &nbsp;
                                </td>
                                <td class="money">
                                    <div style="float:right;">{{entity.Add | number:0}} </div>
                                    <div class="fill-meter-bar" ng-style="recapitulationCtrl.moveFillMeterBar(entity.BudgetedAPBN, entity.AcknowledgedAPBN)"> </div>
                                </td>
                                <!--
                                <td class="money">
                                    &nbsp;
                                </td>
                                <td class="money">
                                    <div style="float:right;">{{entity.Bhpr | number:0}} </div>
                                    <div class="fill-meter-bar" ng-style="recapitulationCtrl.moveFillMeterBar(entity.BudgetedAPBN, entity.AcknowledgedAPBN)"> </div>
                                </td>
                                    -->
                            </tr>
                            <tr ng-show="!isEntitiesLoading && entities.length == 0 && indexCtrl.guessedRegionType == 4">
                                <td colspan="100" style="padding: 10px; text-align: center;">
                                    Belum ada penyaluran yang dilaporkan di desa ini.
                                </td>
                            </tr>
                        </tbody>

                        <tfoot ng-show="!isEntitiesLoading && entities.length > 0">
                            <tr class="success">
                                <td><a href="">Total</a></td>
                                <td class="money"> {{total.BudgetedDd | number:0}} </td>
                                <td class="money"> {{total.BudgetedDd * 0.4 | number:0}} </td>
                                <td class="money"> {{total.TransferredDd | number:0}} </td>

                                <td class="money"> {{total.BudgetedAdd | number:0}} </td>
                                <td class="money"> {{total.BudgetedAdd * 0.4 | number:0}} </td>
                                <td class="money"> {{total.TransferredAdd | number:0}} </td>

                                <!--
                                <td class="money"> {{total.BudgetedBhpr | number:0}} </td>
                                <td class="money"> {{total.TransferredBhpr | number:0}} </td>
                                    -->
                            </tr>
                        </tfoot>

                        @Html.Partial("TableLoader")

                    </table>
                </div>
                <div class="container-fluid well help">
                    <ul>
                        <li id="help-penyaluran">
                            Halaman penyaluran di kawaldesa.org menampilkan penyaluran 3 dari 7 pendapatan desa, yaitu:
                            <ol>
                                <li id="help-dd">Dana Desa (DD), yang dianggarkan di APBN</li>
                                <li id="help-add">Alokasi Dana Desa (ADD), yang dianggarkan di APBD</li>
                                <li id="help-bhpr">Bagi hasil pajak dan retribusi daerah (PDRD)</li>
                            </ol>
                        </li>
                        <li id="help-anggaran">
                            Detail alokasi anggaran bisa dilihat di halaman Alokasi,
                            <ol>
                                <li><a href="/dd/0">Alokasi Dana Desa dari APBN</a></li>
                                <li><a href="/add/0">Alokasi ADD dari APBD</a></li>
                                <li><a href="/bhpr/0">Alokasi Bagi hasil retribusi &amp; pajak</a></li>
                            </ol>
                        </li>
                        <li id="help-target">
                            Menurut PP No. 22 tahun 2015, penyaluran dana desa dilakukan secara bertahap pada tahun anggaran berjalan dengan ketentuan:
                            <ol>
                                <li>tahap I pada bulan April sebesar 40%</li>
                                <li>tahap II pada bulan Agustus sebesar 40%</li>
                                <li>tahap III pada bulan Oktober sebesar 20%</li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div style="position: fixed; width: 23%;">
                    <div class="content-header">
                        Penyaluran {{indexCtrl.region.Name}}
                    </div>
                    <br />
                    <canvas id="line" class="chart chart-line" chart-data="data"
                            chart-labels="labels" chart-legend="true" chart-series="series"
                            chart-options="chartOptions" chart-click="onClick"></canvas> 

                    <br />
                    <div class="content-header">
                        Anggaran Transfer Dana Desa
                    </div>
                    <br />
                    <canvas id="polar-area" class="chart chart-polar-area"
                            chart-options="polarChartOptions"
                            chart-data="polarData" chart-labels="polarLabels" chart-legend="true"></canvas> 
                </div>
            </div>
        </div>
    </div>
</div>