
<div class="container-fluid">
    <div class="navbar-header">
        <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav">
            <li><a ui-sref="index" style="padding-left: 20px;">Kawal Desa</a></li>
            <li><div class="gt">→</div></li>
            <li><a ui-sref="index">Nasional</a></li>
            <li><div class="gt">→</div></li>
            <li><a ui-sref="province">DKI Jakarta</a></li>
            <li><div class="gt">→</div></li>
            <li><a href="kabupaten.html">Jakarta Timur</a></li>
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a style="padding-right: 20px;" ui-sref="login">Login</a></li>
    </ul>
</div>

<div class="content-header">
    Transfer Ke Desa
    <div class="insert">
        <a href="#" data-toggle="modal" data-target="#myModal">tambah</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-condensed table-responsive table-bordered">
        <thead>
            <tr>
                <th rowspan="2" style="vertical-align: middle;">Desa</th>
                <th colspan="3" style="text-align: center;">APBN (Pusat → Desa)</th>
                <th colspan="3" style="text-align: center;">ADD (Kabupaten → Desa)</th>
                <th colspan="3" style="text-align: center;">Dana Desa (APBN + ADD)</th>
            </tr>
            <tr>
                <th class="money">Anggaran</th>
                <th class="money">Tertransfer</th>
                <th class="money">Diterima</th>
                <th class="money">Anggaran</th>
                <th class="money">Tertransfer</th>
                <th class="money">Diterima</th>
                <th class="money">Anggaran</th>
                <th class="money">Tertransfer</th>
                <th class="money">Diterima</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <tr ng-repeat="entity in entities | filter: {ParentID: ID}: true">
                <td><a ui-sref="">{{entity.Name}}</a></td>
                <td class="money">223.000.120</td>
                <td class="money">814.900.120</td>
                <td class="money">150.000.120</td>
                <td class="money">223.000.120</td>
                <td class="money">814.900.120</td>
                <td class="money">150.000.120</td>
                <td class="money">223.000.120</td>
                <td class="money">814.900.120</td>
                <td class="money">150.000.120</td>
            </tr>
            @*<tr class="detail-padding">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="detail detail-shown">
                    <td>&nbsp;</td>
                    <td class="money"></td>
                    <td class="money"></td>
                    <td class="money">
                        <span class="info"><a href="">08 Agu</a></span>
                        881.000.000.120
                    </td>
                    <td class="money"></td>
                    <td class="money"></td>
                    <td class="money">
                        <span class="info"><a href="">08 Jul</a></span>
                        881.000.000.120
                    </td>
                    <td></td>
                </tr>
                <tr class="detail">
                    <td>&nbsp;</td>
                    <td class="money"></td>
                    <td class="money"></td>
                    <td class="money">
                        <span class="info"><a href="">03 Apr</a></span>
                        130.012.000.120
                    </td>
                    <td class="money"></td>
                    <td class="money"></td>
                    <td class="money">
                        <span class="info"><a href="">03 Mei</a></span>
                        130.012.000.120
                    </td>
                    <td></td>
                </tr>
                <tr class="detail">
                    <td>&nbsp;</td>
                    <td class="money"></td>
                    <td class="money">
                        <span class="info"><a href="">05 Nov</a></span>
                        992.501.201
                    </td>
                    <td class="money">
                        <span class="info"><a href="">10 Des</a></span>
                        350.000.120
                    </td>
                    <td class="money"></td>
                    <td class="money">
                        <span class="info"><a href="">05 Jan</a></span>
                        992.501.201
                    </td>
                    <td class="money">
                        <span class="info"><a href="">10 Feb</a></span>
                        350.000.120
                    </td>
                    <td></td>
                </tr>
                <tr class="detail-sum">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><a href="">Sukamaju</a></td>
                    <td class="money">877.501.601</td>
                    <td class="money">8.330.201.045</td>
                    <td class="money">121.014.120</td>
                    <td class="money">877.501.601</td>
                    <td class="money">8.330.201.045</td>
                    <td class="money">121.014.120</td>
                    <td class="money">877.501.601</td>
                    <td class="money">8.330.201.045</td>
                    <td class="money">121.014.120</td>
                </tr>
                <tr>
                    <td><a href="">Sukadiem</a></td>
                    <td class="money">902.401.400</td>
                    <td class="money">10.388.204.155</td>
                    <td class="money">557.014.533</td>
                    <td class="money">902.401.400</td>
                    <td class="money">10.388.204.155</td>
                    <td class="money">557.014.533</td>
                    <td class="money">902.401.400</td>
                    <td class="money">10.388.204.155</td>
                    <td class="money">557.014.533</td>
                </tr>
                <tr>
                    <td><a href="">Sukanyamping</a></td>
                    <td class="money">291.850.200</td>
                    <td class="money">412.223.401</td>
                    <td class="money">150.000.120</td>
                    <td class="money">291.850.200</td>
                    <td class="money">412.223.401</td>
                    <td class="money">150.000.120</td>
                    <td class="money">291.850.200</td>
                    <td class="money">412.223.401</td>
                    <td class="money">150.000.120</td>
                </tr*@>
        </tbody>
        <tfoot>
            <tr class="success">
                <td><a href="">Total</a></td>
                <td class="money">824.401.000.120</td>
                <td class="money">510.421.000.120</td>
                <td class="money">150.000.120</td>
                <td class="money">824.401.000.120</td>
                <td class="money">510.421.000.120</td>
                <td class="money">150.000.120</td>
                <td class="money">824.401.000.120</td>
                <td class="money">510.421.000.120</td>
                <td class="money">150.000.120</td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="content-header">
    Penerimaan Daerah
    <div class="insert">
        <a href="#" data-toggle="modal" data-target="#myModal">tambah</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-condensed table-responsive table-bordered">
        <thead>
            <tr>
                <th></th>
                <th class="money">Anggaran</th>
                <th class="money">Diterima</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="">DAU (Dana Alokasi Umum)</a>
                    <p class="subtext">
                        Dana yang bersumber dari pendapatan APBN yang dialokasikan kepada setiap Daerah Otonom (provinsi/kabupaten/kota) di Indonesia setiap tahunnya sebagai dana pembangunan
                    </p>
                </td>
                <td class="money">223.000.000.120</td>
                <td class="money">223.000.000.120</td>
            </tr>
            <tr>
                <td>
                    <a href="">DBH (Dana Bagi Hasil)</a>
                    <p class="subtext">
                        Dana yang bersumber dari pendapatan APBN yang dialokasikan kepada Daerah berdasarkan angka persentase tertentu untuk mendanai kebutuhan Daerah dalam rangka pelaksanaan Desentralisasi
                    </p>
                </td>
                <td class="money">223.000.000.120</td>
                <td class="money">223.000.000.120</td>
            </tr>
            <tr>
                <td>
                    <a href="">ADD (Alokasi Dana Desa = 10% (DAU + DBH))</a>
                    <p class="subtext">
                        Alokasi dana desa yang merupakan bagian yang dialokasikan untuk desa dari dana perimbangan yang diterima kabupaten/kota
                    </p>
                <td class="money">718.000.120.000</td>
                <td class="money">150.000.120.000</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Tambah Penyaluran</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Jumlah</label>
                        <input type="number" class="form-control" placeholder="Masukkan jumlah">
                    </div>
                    <div class="form-group">
                        <label>Tanggal</label>
                        <input type="date" class="form-control" placeholder="Masukkan tanggal">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Lampiran bukti transfer</label>
                        <input type="file" id="exampleInputFile">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-primary">Simpan</button>
            </div>
        </div>
    </div>
</div>
