<div class="container-fluid">
    <div class="navbar-header">
        <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav">
            <li><a href="" style="padding-left: 20px;">Kawal Desa</a></li>
            <li>
                <div class="gt">→</div>
            </li>
            <li><a href="">Nasional</a></li>
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a style="padding-right: 20px;" ui-sref="login">Login</a></li>
    </ul>
</div>

<div class="content-header">
    Transfer ke Desa
    <div class="insert">
        <a href="#" data-toggle="modal" data-target="#myModal">upload</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-condensed table-responsive table-bordered">
        <thead>
            <tr>
                <th rowspan="2" style="vertical-align: middle;">Daerah</th>
                <th colspan="3" style="text-align: center;">Dana Desa (APBN + ADD)</th>
                <th colspan="3" style="text-align: center;">APBN (Pusat → Desa)</th>
                <th colspan="3" style="text-align: center;">ADD (Kabupaten → Desa)</th>
            </tr>
            <tr>
                <th class="money">Anggaran</th>
                <th class="money">Tertransfer</th>
                <th class="money">Diterima</th>
                <th class="money">Anggaran</th>
                <th class="money">Tertransfer</th>
                <th class="money">Diterima</th>
                <th class="money">Anggaran</th>
                <th class="money">Tertransfer</th>
                <th class="money">Diterima</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entity in entities">
                <td><a ui-sref="province({ProvinceID: entity.ID })">{{entity.Name}}</a></td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="success">
                <td><a href="">Total</a></td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
                <td class="money"> 0 </td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Tambah Penyaluran</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Jumlah</label>
                        <input type="number" class="form-control" placeholder="Masukkan jumlah">
                    </div>
                    <div class="form-group">
                        <label>Tanggal</label>
                        <input type="date" class="form-control" placeholder="Masukkan tanggal">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Lampiran bukti transfer</label>
                        <input type="file" id="exampleInputFile">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-primary">Simpan</button>
            </div>
        </div>
    </div>
</div>

